 <div>
    <DxTabs>
        <DxTab Text="先生一覧" TabIconCssClass="tabs-icon-home tabs-icon"></DxTab>
        <DxTab Text="日程確認" TabIconCssClass="tabs-icon-products tabs-icon"></DxTab>
        <DxTab Text="Support" TabIconCssClass="tabs-icon-support tabs-icon"></DxTab>
    </DxTabs>
 </div>


@code {

}
